<!DOCTYPE html>
<html>
<body>

<h1>Autograder</h1>


{% if user.is_authenticated %}
<p> you are logged in as {{ user.username}} </p>
<a href="{% url 'logout' %}?next={% url 'autograder:main' %}">Logout</a>
<form method="POST">{% csrf_token %}
  <div>
    <label for="Field1">Field 1</label>
    <input name="Field1" id="Field1">
  </div>
  <div>
    <label for="Field2">Field 2 </label>
    <input name="Field2" id="Field2">
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>
{% endif %}


</body>
</html>