<!DOCTYPE html>
<html>
<body>

<h1>Autograder TimeCode_1484</h1>


{% if user.is_authenticated %}
<p> you are logged in as {{ user.username}} </p>
{% if data %}
<p> your result is {{ data }}</p>
{% else %}
{%endif%}

<a href="{% url 'logout' %}?next={% url 'autograder:main' %}">Logout</a>
<form method="POST">{% csrf_token %}
  <div>
    <label for="field1">Field 1</label>
    <input name="field1" id="field1">
  </div>
  <div>
    <label for="field2">Field 2 </label>
    <input name="field2" id="field2">
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>
{% endif %}



</body>
</html>